@import "tailwindcss";
@plugin "daisyui";

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #2563eb;
  animation: typing 3.5s steps(30, end) infinite, blink 0.7s step-end infinite;
}

@keyframes typing {
  0% { width: 0 }
  50% { width: 100% }
  100% { width: 0 }
}

@keyframes blink {
  50% { border-color: transparent }
}
